*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0,4),rgba(0,0,0,0,4)),url("see.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    /* this block of code is the setting 
    the background image and position of the image */
}
.navabar{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    /*   this if for setting the dimensions 
    of the navigation */

}
nav{
    flex: 1;
    text-align: right;

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
  
    font-family: sans-serif;
}
nav ul li button{
    font-size: 20px;
    color: rgb(43, 19, 178);
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family:sans-seri ;

}
nav ul li button:hover{
    color: aqua;
}
nav ul li a:hover{
color: aqua;
}
a{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
/* i hope you viewed the code iam rotating top 
to bottom because you will see the code */
/* lets move on to the html file and lets write code for the login form */
/* before this we dint see the page let us comment and see now */
 #login-form{
    display: none;
    /*  this block if for hiding the form pk */
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;
    /* creating the form with width height and etc */
}
.button-box{
   width: 220px;;
   margin: 35px auto;
   position: relative;
   box-shadow: 0,0,20px 9px #ff61241f;


}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: absolute;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f3c693;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 5s;
}
.input-group-register
{
    top: 120px;
    position: absolute;
    width: 180px;
    transition: 5s;
    }
    .submit-btn{
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background: #f3c693;
        border: 0;
        outline: none;
        border-radius: 30px;
    }
    .check-box{
        margin: 30px 10px 34px 0;
    }
   
    input-field{
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left:0 ;
        border-right: 0;

    }
    span{
        color: #777;
        font-size: 12px;
        bottom: 68px;
        position: absolute;
    }
    #login{
        left: 50px;
    }

    #login input{
        color: white;
        font-size: 15;
    }
    #register{
        left: 450px;
    }
    #register input{
        color: white;
        font-size: 15;
    }
    